# Exclude local environment and temporary files
.DS_Store
Thumbs.db
*.pyc
__pycache__/

# Exclude local directories
c:\Users\willi\OneDrive\Documents\Python Scripts\Garmin Project/

# Exclude Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Exclude virtual environments
env/
.venv/

# Exclude logs and databases
*.log
*.sqlite3

# Exclude system files
*.swp
